<ion-content class="home-page">
  <div class="container">
    <div class="header">
      <h2 style="margin-bottom:0"><img src="/assets/logoApp.png" /> Cheers</h2>
      <img [src]="userPicture" class="avatar" (click)="toggleMenu()" />

      <div class="logout-menu" *ngIf="showMenu" >
        <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
    Bienvenido:&nbsp;&nbsp;{{ userName }}

    <div class="grid">
      <div class="card" (click)="goToCatalogo()">
        <img src="/assets/racimo.png" class="homeicon" />
        <p>Catálogo</p>
      </div>

      <div class="card" (click)="goToNotaCata()">
        <img src="/assets/nota.png" />
        <p>Notas de cata</p>
      </div>

      <div class="card" (click)="goToRegions()">
        <img src="/assets/regiones.png" />
        <p>Regiones</p>
      </div>

      <div class="card">
        <img src="/assets/favoritos.png" />
        <p>Favoritos</p>
      </div>
    </div>
  </div>
</ion-content>
