<div class="app-container">

  <div class="content">

    <div class="grid">

      <div class="card-option catalogo" (click)="goToCatalogo()">
        <div class="overlay">
          <div class="title">Catálogo de vinos</div>
        </div>
      </div>

      <div class="card-option cata" (click)="goToNotaCata()">
        <div class="overlay">
          <div class="title">Nota de cata</div>
        </div>
      </div>

      <div class="card-option regiones">
        <div class="overlay">
          <div class="title">Regiones</div>
        </div>
      </div>

      <div class="card-option favoritos">
        <div class="overlay">
          <div class="title">Favoritos</div>
        </div>
      </div>

      <div class="card-option miscatas">
        <div class="overlay">
          <div class="title">Mis catas</div>
        </div>
      </div>


      <div class="card-option recomendados">
        <div class="overlay">
          <div class="title">Recomendados</div>
        </div>
      </div>

    </div>
  </div>
</div>