
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total de pantalla */
}

.header {
  background: #1c1c1c;
  color: white;
  padding: 12px;

  padding-top: calc(12px + env(safe-area-inset-top)); /* 👈 clave */

  flex-shrink: 0;
}

/* ⚡ Aquí está la clave: bloque, no flex */
.content {
  flex: 1 1 auto; 
  min-height: 0;
  display: block;       /* ⚡ importante */
  overflow: visible;    /* ⚡ permite renderizado de ion-input */
}


.bottom-nav {
  height: calc(65px + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);

  display: flex;
  justify-content: space-around;
  align-items: center;

  // background: #411421;
  background: #2b0f18;

  /* position: sticky;  <-- quitar */
  position: relative;
  z-index: 10;
}


.nav-item{

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  font-size:12px;

  color:#e6c9c9;

  gap:4px;

}

/* ICONO */

.nav-icon{

  font-size:22px;

}

.bottom-icon{

  font-size:20px;

  color:white;

  opacity:0.9;

}



/* indicador activo */


/* avatar */

.nav-avatar{

  width:32px;
  height:32px;

  border-radius:50%;

  border:2px solid rgba(255,255,255,0.3);

}

.user{
  display:flex;
  align-items:center;
  font-weight:500;
}

.avatar{
  width:35px;
  height:35px;
  border-radius:50%;
  margin-right:10px;
}