<div class="app-container">

  <!-- <div class="header">

    <div class="user">
      <img [src]="userPicture" class="avatar">
      <span>Hola {{userName}}</span>
    </div>

  </div> -->

   <div class="header">
    
   </div>



  <!-- <div class="content"  [@routeAnimation]="o.isActivated ? o.activatedRoute : ''"> -->
  <div class="content">
    <router-outlet #o="outlet"></router-outlet>

  </div>  

  <div class="bottom-nav">

    <div class="nav-item" (click)="goToHome()">
      <ion-icon name="home-outline" class="bottom-icon"></ion-icon>
      Home
    </div>

    <div class="nav-item">
      <ion-icon name="wine-catalog" (click)="goToCatalogo()" class="bottom-icon"></ion-icon>
      Catalogo
    </div>

    <div class="nav-item">
      <ion-icon name="wine-note" (click)="goToNotaCata()" class="bottom-icon"></ion-icon>
      Notas
    </div>    


  </div>

</div>