<!-- login.component.html -->
<ion-content class="login-page">

  <div class="login-container">

    <div class="logo">
      🍷
    </div>


    <p class="subtitle">
      Discover and record your wine experiences
    </p>

    <!-- Botón Google -->
    <button (click)="onGoogleLogin()" class="google-btn">
      <img src="https://developers.google.com/identity/images/g-logo.png" class="google-icon">
      Continue with Google
    </button>

    <!-- Botón Microsoft -->
    <div class="microsoft-login-btn" (click)="loginMicrosoft()">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" class="ms-icon">
      <span>Continue with Microsoft</span>
    </div>

    <!-- Contenedor para botón web de Google (renderizado automáticamente si es web) -->
    <div id="googleBtn" style="margin-top:12px;" *ngIf="isWeb"></div>

  </div>

</ion-content>